@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
.blog-page{
    font-family: 'Montserrat', sans-serif;
}
article {
    padding-top: 6rem;
}

article p {
    padding: 0;
} 

.italics {
    font-style: italic;
}
@media screen and (min-width:650px) {
    article {
        display: grid;
        grid-template-columns: 1fr 1fr 10px 600px 10px 1fr 1fr;
    }
    article > * {
        grid-column-start: 4;
    }
    article img {
        grid-column-start: 2;
        grid-column-end: 7;
    }
}