.about-section {
    
    display: flex-column;
    background-color: white;
    max-width: 100vw;
    
}
h1 {
    padding-left: 1rem;
}

.about-info {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.image-area {
    margin-left: 2rem;
    margin-right: 2rem;
}

img {
    border-radius: 50%;
    overflow: hidden;
    width: 20rem;
    height: 20rem;
}

p {
    flex: 1 1 0px;
    justify-content: left;
    text-align: left;
    padding: 15px;
    border-left: 1px solid black;
}

.contact-info {
    display: flex-column;
    justify-content: space-between;
}

.contact-info img {
    border-radius: 0;
    max-width: 3rem;
    max-height: 3rem;
    margin: 0.5rem;
}
