@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.app {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  justify-content: flex-start;
  font-size: calc(1em + 0.2vw);
}

.hero-image {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("hero_image.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-height: 100vh;
    position: fixed;
    z-index: -1;
}
