.toolBar {
    top:0;
    height: 3em;
    position: fixed;
    width: 100%;
    background: white;
}
.text {
    padding-top: 0.1em;
    padding-left: 0.1em;
    text-align: left;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.name {
    text-decoration: underline;
}