.nav-bar {
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    right:0;
    left: 0;
}
.nav-bar a {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1rem;
    color: black;
    text-align: center;
    text-decoration: none;
}
.nav-bar a:active {
    background-color: grey;
}
.nav-bar a:hover {
    background-color: grey;
}

@media screen and (max-width:850px)
{
    .desktop {
        display: none;
    }
    .nav-bar a {
        text-align: left;
    }
    .mobile {
        content: "";
        flex-grow: 10;
    }
}
