.other-area {
    display: flex-column;
    background-color: white;
}

.other-area h1 {
    padding-left: 1rem;
    margin-bottom:0;
}

.other-area span {
    padding-left: 1rem;
}

.other-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-list img { 
    /* TODO: Figure out how to vertically center image */
    max-width: 7rem;
    max-height: 7rem;
    margin: 1rem;
    padding-left: 1vw;
}

.other-list p {
    border-left: 1px solid black;
}