.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: white;
    min-width: 100vw;
    min-height: 100vh;
    transition: 0.8s ease; 
}
.menu a {
    padding: 4vh;
    text-decoration: none;
    color: inherit;
    font-size: calc(1rem + 0.5vh + 1vw);
}
.menu a:hover {
    background-color: lightgray;
}

@media screen and (min-width:850px)
{
    .sidebar button {
        display: none;
    }
}
.sidebar button {
    display: static;
    position: fixed;
    right:0;
    background-color: transparent;
    border: none;
    padding: 1rem;
    z-index: 2;
}
.sidebar img {
    border-radius: 0;
    max-height: 1.2rem;
    min-width: 1.5rem;
}