.videos-area {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.videos-area h1 {
    padding-left: 1rem;
    margin-bottom: 0;
}

.videos-area span {
    margin-left: 1rem;
}
.videos-area iframe {
    margin-top: 1.5rem;;
    width:75vw;
    height: 40vw;   
    margin-left: 12vw;
}
